<div class="container-fluid">

    <div class="row">
        <div class="col-4" id="readyBurgers">
            <h1><b>BURGERS CONSUMED</b></h1>
            <!--loop to run through db and render consumed burgers with ID-->
            {{#each burgers}}
            {{#if this.devoured}}
            <li id="list">
                {{this.id}}
                {{this.burger_name}}

            </li>
            {{/if}}
            {{/each}}

        </div>
        <div class="col-4" id="consumedBurgers">
            <h1><b>WARM READY BURGERS</b></h1>

            <!--loop to render burgers inserted into db that have value opposite on consumed in db-->
            <ul>
                {{#each burgers}}
                {{#unless this.devoured}}
                <li>
                    {{this.id}}
                    {{this.burger_name}}

                    <form action="/{{this.id}}?_method=PUT" method="POST">
                        <input type="hidden" name="devoured" value="true">
                        <button class="btn-primary1" type="submit">Devour It!</button>
                    </form>

                </li>
                {{/unless}}
                {{/each}}
            </ul>


        </div>

        <!--Post's submited burger to db to later be rendered in PUT method noted above-->
        <div class="col-4">
            <form class="create-update-form" action="/" method="POST">
                <div class="form-group">
                    <input type="text" name="burger_name" placeholder="Add your burger order....">
                </div>
                <button class="btn-primary2" type="submit">Submit Burger</button>
            </form>
        </div>
    </div>
</div>